body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.calculator {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

#result {
    background-color: #f2f2f2 ;
    color: black;
  font-size: 24px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
  transition: background-color 0.3s;
}
button:active {
  background-color: #ccc;
}
.ac{
    background-color: red;
}
.del{
    background-color: green;
}
.operator{
    background-color: gray;
}

.button-operator {
  background-color: #ffa500;
  color: #fff;
}

.button-operator:hover {
  background-color: #ff8c00;
}

.button-equal {
  background-color: #006400;
  color: #fff;
}

.button-equal:hover {
  background-color: #008000;
}
